.content {
  grid-area: c;
  background: #f183c9;
}

button,
button:focus{
  border: 3px solid gold;
  border-radius: 20px;
}
button:focus{
  border-color: #222835;
}

.userAvatar{
  img{
    max-width: 100px;
    object-fit: cover;
  }
}