.backimg{
 width: 100%;
 max-height: 300px;

}
.profileWrapper{
 display:inline-flex;

}
.avatar {
 display: flex;
 flex-direction: column;
 width: 150px;
 height: 150px;
 align-self: stretch;
 position: relative;
}
.photoUploader{
 position: absolute;
 display: none;
 bottom: 0px;
 left: 10px;

}
.avatar:hover .photoUploader{
 display: block;
 overflow: hidden;
}
 .avatarImg{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
 }

.descriptionBlock{
 margin-left: 20px;
 display: flex;
 flex-direction: column;
}
.name{
 display: flex;
 font-size: 1.5em;
}

.status{
 margin: 5px 0 10px 0;
}
.contacts {

 &Body{
  padding-left: 10px;
 }
}