.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item img {
  max-width: 80px;
  height: 80px;
  border-radius: 30px;
}

.itemText{
  margin-right: auto;
  margin-left: 20px;
}
.like{
  color: #6e6e6e;
  align-self: flex-end;

}